<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
</head>
<body style="
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background: #50a3a2;
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
">
  <div style="
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    border: 2px solid #d3d4d4;
    box-shadow: 0 2px 10px 0 rgb(248, 246, 246);
    width: 100%;
    max-width: 600px;
    padding: 30px;
    backdrop-filter: blur(10px);
    text-align: center;
    position: relative;
    z-index: 2;
  ">
    <p style="
     font-size: x-large;
      color: gray;
      margin-bottom: 20px;
      font-weight: bold;
    ">
      Reset your password
    </p>
    <p style="
     
      color: red;
      margin-bottom: 20px;
    "><%= email %></p>
    <form id="resetForm" action="" method="post" style="
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: center; /* Center align the form contents */
    ">
      <div style="width: 100%; max-width: 500px;">
        <label for="password" style="
          display: block;
          font-size: 16px;
          color: white;
          margin-bottom: 5px;
          font-weight: bold;
          text-align: center;/* Align the label text to the left */
        ">
          New Password
        </label>
        <input
          type="password"
          id="password"
          name="password"
          style="
          
            border: 2px solid white;
            border-radius: 5px;
            padding: 10px;
            background: transparent;
            color: white;
          "
          placeholder="Enter your new password"
          required
        />
      </div>
      <div style="width: 100%; max-width: 500px;">
        <label for="confirm-password" style="
          display: block;
          font-size: 16px;
          color: white;
          margin-bottom: 5px;
          font-weight: bold;
          text-align: center; /* Align the label text to the left */
        ">
          Confirm Password
        </label>
        <input
          type="password"
          id="confirm-password"
          name="confirm-password"
          style="
           
            border: 2px solid white;
            border-radius: 5px;
            padding: 10px;
            background: transparent;
            color: white;
          "
          placeholder="Confirm your new password"
          required
        />
      </div>
      <button
        type="submit"
        style="
        background: linear-gradient(to right, rgba(0, 184, 212, 1), rgb(2, 194, 114));

          border: none;
          color: white;
          padding: 13px 40px; /* Adjust padding for button size */
          border-radius: 15px;
          font-size: 18px;
          cursor: pointer;
          transition: background 0.3s ease;
          font-weight: bold;
          width: auto; /* Button width will be adjusted based on content */
        "

        "
      >
        Reset Password
      </button>
    </form>
    <p id="message" style="
      margin-top: 20px;
      color: white;
    "></p>
  </div>
  <ul style="
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: 0;
    padding: 0;
    list-style: none;
  ">
    <li style="
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: rgba(255, 255, 255, 0.15);
      bottom: -160px;
      animation: square 25s infinite;
      transition-timing-function: linear;
    "></li>
  
  </ul>
  <style>
    @keyframes square {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-100vh) rotate(600deg);
      }
    }
  </style>
  <script>
    var status = '<%= status %>';
    var messageElement = document.getElementById('message');
    if (status === 'notverified') {
      messageElement.textContent = 'Password does not match!';
    } else if (status === 'verified') {
      messageElement.textContent = 'Password successfully reset!';
      if (confirm("Do you want to login?")) {
        window.location.href = "http://localhost:3000/login";
      }
    }
  </script>
</body>
</html>
